{env.CADDY_ROOT_DOMAIN} {
    root * /srv
    file_server
}

*.{env.CADDY_ROOT_DOMAIN} {
    root * /srv
    file_server
}

field-a.{env.CADDY_ROOT_DOMAIN} {
    reverse_proxy caddy.field-a:80
}

vnc.field-a.{env.CADDY_ROOT_DOMAIN} {
    reverse_proxy /guacamole/* guacamole:8080
    @notGuacamole {
        not path /guacamole/*
    }
    redir @notGuacamole /guacamole/ permanent
}

gc.field-a.{env.CADDY_ROOT_DOMAIN} {
    basicauth {
        # referee:referee
        # Passwords can be generated with `caddy hash-password`
        referee JDJhJDE0JEtDd0FUSElDZVdONDBVSkVFQ3c2Ly5KbzM4dGIwdGFvZnQyNk92LlIuY1VJUEY3MndEaVpD
    }
    reverse_proxy ssl-game-controller-private:8081
}

vision.field-a.{env.CADDY_ROOT_DOMAIN} {
    reverse_proxy ssl-vision-client:8082
}

status-board.field-a.{env.CADDY_ROOT_DOMAIN} {
    reverse_proxy ssl-status-board:8082
}
